
    <div class="form-group">
      <label for="email">Email address:</label>
      <input type="email" class="form-control" id="email" [(ngModel)]="email">
      <p>{{email}}</p>
    </div>
    <div class="form-group">s
      <label for="pwd">Password:</label>
      <input type="password" class="form-control" id="pwd" (input)="onUpdatePassword($event)">
      <p>{{passWord}}</p>
    </div>
    <div class="checkbox">
      <label><input type="checkbox" (change)="onChangeRemainder($event)"> Remember me</label>
      <p *ngIf="checkRemainder">Accepted the TC , {{email}}</p>
    </div>
   


<div class="btn">

<button class="btn btn-success" [disabled]="buttonFunctionality" (click)="onClickEvent()"> Yes! You got it</button>

<p> {{successMessage}}</p>

</div>